* {
  margin: 0;
  padding: 0;
}

body {
  background: #e8cfa0;
  font-family: Arial, Helvetica, sans-serif;
  /* look up web safe fonts */
}

.input-row {
  display: flex;
  /*Displays the 5 input boxes in a row*/
  justify-content: center;
  /*centers the input boxes horizontally*/
  margin-top: 5px;
  /* Add margin at the bottom to create vertical spacing on top */
  margin-bottom: 5px;
  /* Add margin at the bottom to create vertical spacing on bottom */
}

.letter-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  margin-left: 5px;
}

input.letter-input {
  caret-color: transparent;
  /*removes the cursor when in a box*/
}

h1 {
  text-align: center;
}